streamlit
deep-translator
sentence-transformers
langdetect
transformers>=4.34.0
peft
torch>=2.0.0
pymupdf
chromadb
langchain
google-generativeai
arabert-preprocess
--find-links https://download.pytorch.org/whl/torch_stable.html
